<h2>Template</h2>
<h3>Text Interpolation</h3>
{{name}} - {{age}}

<p>{{1+4}}</p>
<p>{{condition}}</p>

<hr/>

<h2>Property binding</h2>

<button [disabled]="isDisabled">Button</button>
<img [src]="srcValue" [alt]="name" [title]="name">

<hr/>

<h2>Atribute binding</h2>

<p [attr.title]="name" [attr.aria-label]="name">Lilia Zacanni</p>

<hr/>

<h2>Class and style binds</h2>

<p [class.background-red]="age > 32" [class.background-blue]="age < 32">{{name}}</p>

<p [style.text-decoration]="isTextDecoration">{{age}}</p>

<hr/>

<h2>Event binding</h2>

<button (click)="sum()">+</button>
<button (click)="sub()">-</button>

<input (keydown.shift.y)="onKeyDown($event)">

<div style="width: 300px; height: 300px; margin-top: 10px; background: green" (mousemove)="onMouseMove($event)">{{mousePositionX}}, {{mousePositionY}}</div>

<hr/>

<h3>Two-way binding</h3>

<input [(ngModel)]="name"/>

{{name}}

<hr/>

<h3>Diretivas de Atributos</h3>
<div [ngClass]="{ 'background-red': age > 35, 'background-blue': age < 35 }">Classes condicionais</div>

<div [ngStyle]="{
  'color': age > 35 ? 'green' : 'red',
  'font-size': age > 35 ? '10px' : '20px',
}">Estilo dinâmico</div>
